<div class="jumbotron">
  <h2>Welcome to Jessie's blog</h2>
  <%= link_to 'Sign Up', signup_path, class:"btn btn-primary" %>
  <%= link_to 'Go to blog', articles_path, class: "btn btn-success" %>
</div>
